# Rychlé zobrazení promptu (instant prompt)
typeset -g POWERLEVEL9K_INSTANT_PROMPT=quiet
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

# Oh My Zsh nastavení
export ZSH="$HOME/.oh-my-zsh"
ZSH_THEME="powerlevel10k/powerlevel10k"
DISABLE_AUTO_UPDATE="true"

# Pluginy
plugins=(
  git
  fzf-tab
  you-should-use
  zsh-autosuggestions
  sudo
  alias-finder
  yarn
  zsh-syntax-highlighting # Vždy jako poslední
)

source $ZSH/oh-my-zsh.sh

# Vlastní proměnné a aliasy (radši dej do ~/.oh-my-zsh/custom/*.zsh, ale můžeš i tady)
export PATH="$HOME/.cargo/bin:$HOME/.local/bin:$HOME/.codeium/windsurf/bin:$PATH"
export PNPM_HOME="/Users/wraithy/Library/pnpm"
export PATH="$PNPM_HOME:$PATH"
export OPENAI_API_KEY={{ onepasswordRead "op://47q7ov7jcalclpmkqfopl6m3n4/OPENAI_KEY/credential" }}
export ANTHROPIC_API_KEY={{ onepasswordRead "op://47q7ov7jcalclpmkqfopl6m3n4/Anthropic key/credential" }}

# Aliasové zkratky
alias v="nvim"
alias dev="cd ~/Development/Trask"
alias tmuxa="tmux attach-session -t \$(tmux list-sessions -F '#{session_name}' | fzf)"

# Powerlevel10k config
[[ -f ~/.p10k.zsh ]] && source ~/.p10k.zsh
